body {
  font-family: sans-serif;
}

.videos {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

video {
  max-width: 100%;
  width: 320px;
}

#DC {
  border: 2px solid blue;
  margin: 20px 10px;
  text-align: center;
}

textarea {
  display: inline-block;
  min-height: 200px;
  min-width: 200px;
  margin: 15px 30px;
}

#WS-VC {
  border: 2px solid green;
  margin: 20px 10px;
  text-align: center; 
}